.portfolioNavbar{
    position: absolute;
    z-index: 500;
    color: #fff;
    width: 100%;
    background-color: transparent!important;
}
.navbar-logo{
    width: 58px;
    height: 55px;
    object-fit: cover;
}
.nav-link{
    color: rgb(241, 241, 241)!important;
    font-size: 16px;
}
